.Category {
    margin: 40px 0px 0px 40px;
    border-radius: 10px;
}

.ItemContainer {
    display: block;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 20px;
    margin-top: -60px
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb{
    border-radius: 50px;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff; 
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(103, 103, 103); 
}

.Category-title {
    font-size: 30px;
    font-family: "HelveticaNeue-Medium";
    color: rgb(72, 72, 72);
    margin-top: 5px;
    padding: 0px 20px;
}